:root{
    --color-primario: #f3f5fc;
    --color-segundario: #0A3871;
    --color-terciario: #495057;
    --color-blanco: white;
    --fuente-principal: "Inter", sans-serif;
}

*{
    background-color: var(--color-primario);
    font-family:var(--fuente-principal);
    font-weight:400;
    font-size:2rem;
    line-height:150%;
}

.logo{
    padding-top: 10%;
    margin-left:10px;
    width: 10%;
     }
 main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
 }
.area_texto{
    border: none;
    color: var(--color-segundario);
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{ color: var(--color-segundario);}
.area_texto:focus{
    outline: none;
}
.mensaje{
    background: var(--color-blanco);
    background-image: url("/assets/muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius:24px;
    color: var(--color-segundario);
    margin-left: 200px;
    margin-top: 50px;
    padding-left: 100px;
    position:absolute;
}
.mensaje:focus {
    outline:none;
}
.botones{
    display:flexbox;
    margin-top:18px;
}
.boton__desencriptar{
    background-color: #d8dfe8;
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-segundario);
    cursor:pointer;
    height:67px;
    margin-left: 30px;
    width:328px;
}
.boton__encriptar{
    background-color: var(--color-segundario);
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-blanco);
    cursor:pointer;
    height:67px;
    width:328px;
}
.copiar{
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-segundario);
    cursor:pointer;
    height:67px;
    margin-left: 108px;
    margin-top: 652px;
    position: absolute;
    width:328px;
}
.informacion{
    background-repeat: no-repeat;
    color: var(--color-terciario);
    font-size: 1.125rem;
}