:root{
    --color-primario: #f3f5fc;
    --color-segundario: #0A3871;
    --color-terciario: #495057;
    --color-blanco: white;
    --fuente-principal: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    background-color: var(--color-primario);
    font-family:var(--fuente-principal);
    font-weight:400;
    font-size:32px;
}
body{
    height: 100vh;
    box-sizing: border-box;
}
.logo{
    width: 120px;
    height: 48px;
     }
 main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
 }
.area_texto{
    border: none;
    color: var(--color-segundario);
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{ color: var(--color-segundario);}
.area_texto:focus{
    outline: none;
}
.mensaje{
    background: var(--color-blanco);
    background-image: url("/assets/muneco.png");
    background-repeat: no-repeat;
    border: none;
    color:var(--color-segundario);
    position: absolute;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    gap: 0px;
    border-radius: 32px 0px 0px 0px;
    opacity: 0px;
}
.mensaje:focus {
    outline:none;
}
.botones{
    display:flexbox;
    align-items: center;
    gap: 24px;
    margin-top:18px;
}
.boton__desencriptar{
    background-color: #d8dfe8;
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-segundario);
    cursor:pointer;
    height:67px;
    margin-left: 30px;
    width:328px;
}
.boton__encriptar{
    background-color: var(--color-segundario);
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-blanco);
    cursor:pointer;
    height:67px;
    width:328px;
}
.copiar{
    border: 1px solid var(--color-segundario);
    border-radius: 24px;
    color: var(--color-segundario);
    cursor:pointer;
    height:67px;
    margin-left: 108px;
    margin-top: 652px;
    position: absolute;
    width:328px;
}
.informacion{
    background-repeat: no-repeat;
    color: var(--color-terciario);
    font-size: 1.125rem;
}